.header {
    height: 80px;
    display: flex;

    box-sizing: border-box;
    flex-direction: row;
    align-items: center;

    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.header__logo-container {
    max-width: 150px;
    padding: 15px;
}

.header__logo {
    max-width: 150px;
}
