html, body {
    height: 100%;
}

body {
    height: 100%;
    min-width: 932px;
    background-color: #f9f9f9;
    color: #777777;
}

#app {
    height: 100%;
}

a {
    color: #00b7ff;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}
